@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  transition: all 1s ease;
}

body {
  background: #0c1f26;
  font-family: "Orbitron", sans-serif;
}

.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}

.calculator {
  position: relative;
  height: auto;
  width: auto;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 30px #000;
}

.theme-toggler .toggle-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 30px;
  cursor: pointer;
  z-index: 1;
}

.theme-toggler .toggle-btn::before {
  color: #6a6969;
}

#display {
  margin: 0 10px;
  height: 150px;
  width: auto;
  max-width: 270px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 20px;
  overflow-x: scroll;
}

#display::-webkit-scrollbar {
  display: block;
  height: 3px;
}

button {
  height: 60px;
  width: 60px;
  border: 0;
  border-radius: 20px;
  margin: 5px;
  font-size: 20px;
  cursor: pointer;
  font-family: "Orbitron", sans-serif;
  transition: all 1.5s ease;
}

button:hover {
  transform: scale(1.08);
}

button#equal {
  height: 130px;
}

button #clear .two {
  margin-left: 0;
}

/* light theme */

.calculator {
  background-color: #f2ecec;
}

.calculator #display {
  color: #0a1e23;
}

.calculator button#clear {
  background-color: #d2d47d;
  color: #fc4552;
  font-size: 30px;
}

.calculator button.btn-number {
  background-color: #fcc3ff;
  color: #000000;
  font-weight: 700;
}

.calculator button.btn-operator {
  background-color: #b7f9a1;
  color: #8b67f9;
  font-size: 25px;
}

.calculator button.btn-equal {
  background-color: #87f5db;
  color: #8b67f9;
}

/* dark theme */

.calculator.dark {
  background-color: #071115;
}

.calculator.dark #display {
  color: #f8fafb;
}

.calculator.dark button#clear {
  background-color: #a72042c1;
  color: #15242a;
  font-size: 30px;
}

.calculator.dark button.btn-number {
  background-color: #315230;
  color: #151f2a;
  font-weight: 700;
}

.calculator.dark button.btn-operator {
  background-color: #213833;
  color: #55e2cf;
  font-size: 25px;
}

.calculator.dark button.btn-equal {
  background-color: #313322;
  color: #55e2cf;
}
